<BasicDropdown @disabled={{@disabled}} as |dropdown|>
  <dropdown.Trigger class="button flex-1">{{t "hardway_dropdown.label"}}</dropdown.Trigger>
  <dropdown.Content class="dropdown">
    <div
      data-role="hardway-option"
      type="button"
      role="button"
      class="dropdown-option"
      {{on "click" (queue dropdown.actions.close (fn @onSelect 4))}}
    >
      {{t "hardway.four"}}
    </div>

    <div
      data-role="place-option"
      type="button"
      role="button"
      class="dropdown-option"
      {{on "click" (queue dropdown.actions.close (fn @onSelect 6))}}
    >
      {{t "hardway.six"}}
    </div>

    <div
      data-role="hardway-option"
      type="button"
      role="button"
      class="dropdown-option"
      {{on "click" (queue dropdown.actions.close (fn @onSelect 8))}}
    >
      {{t "hardway.eight"}}
    </div>

    <div
      data-role="hardway-option"
      type="button"
      role="button"
      class="dropdown-option"
      {{on "click" (queue dropdown.actions.close (fn @onSelect 10))}}
    >
      {{t "hardway.ten"}}
    </div>
  </dropdown.Content>
</BasicDropdown>
