<Modal @key={{this.key}}>
  <:overlay as |overlay|><overlay.overlay /></:overlay>

  <:content as |config|>
    <label>
      <input
        type="number"
        class="w-80"
        placeholder={{t "wager_input_placeholder" kind=(t (concat "table_view.bets." (underscore config.kind)))}}
        value={{this.wager}}
        valid={{is-just this.valid}}
        {{on "input" this.input}}
        {{did-insert this.focus}}
        {{on-key "_all" this.submit}}
      />
    </label>

    <button type="button" data-role="submit" {{on "click" this.send}}>
      <i class="fa fa-send" />
    </button>
  </:content>
</Modal>
