<CaseOf @kind={{this.model}} as |case|>
  <case.err>
    <div data-role="error">{{t "errors.home.failed_load"}}</div>
  </case.err>
  <case.ok>
    <div class="lg:flex lg:flex-start block">
      <div class="lg:flex-2 lg:pr-4 mb-4 lg:mb-0" data-role="all-tables">
        <div class="mb-2 flex items-center">
          <p>{{t "home.all_tables"}}</p>
          <div class="ml-auto">
            <button
              data-role="create-table"
              type="button"
              disabled={{this.creating}}
              {{on "click" this.createTable}}
            >
              {{if this.creating (t "home.creating_table") (t "home.create_table")}}
            </button>
          </div>
        </div>
        <table class="table-auto w-full" {{will-destroy this.stopPolling}}>
          <thead>
            <tr>
              <th>{{t "home.columns.table_id"}}</th>
              <th>{{t "home.columns.population"}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.displayedTableRows key="table.id" as |row|}}
              <tr data-table-id={{row.table.id}} data-table-version={{row.table.nonce}}>
                <td class="w-8/12">{{row.table.name}}</td>
                <td>{{row.population}}</td>
                <td>
                  {{#if (eq row.busy 'JOINING')}}
                    <p>{{t "joining_table"}}</p>
                  {{else if (eq row.busy 'LEAVING')}}
                    <p>{{t "leaving_table"}}</p>
                  {{else}}
                    <div class="flex items-center justify-center">
                      <LinkTo @route="tables.single-table" @model={{row.table.id}} class="mr-3 block">
                        <i class="fa fa-eye" />
                      </LinkTo>
                      <button
                        disabled={{not row.joined}}
                        type="button"
                        class="icon mr-3"
                        {{on "click" (fn this.leaveTable row.table.id)}}>
                        <i class="fa fa-sign-out-alt" />
                      </button>
                      <button
                        disabled={{row.joined}}
                        type="button"
                        class="icon"
                        {{on "click" (fn this.joinTable row.table.id)}}>
                        <i class="fa fa-sign-in-alt" />
                      </button>
                    </div>
                  {{/if}}
                </td>
              </tr>
            {{else}}
              <tr data-role="empty-table">
                <td colspan={{3}} class="text-center">
                  {{t "home.no_tables"}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="lg:flex-1 lg:pl-4" data-role="my-tables">
        <div class="mb-2 flex items-center">
        </div>
      </div>
    </div>
  </case.ok>
</CaseOf>
