<CaseOf @kind={{this.model}} as |case|>
  <case.err>
    <div data-role="error">{{t "errors.home.failed_load"}}</div>
  </case.err>
  <case.ok as |model|>
    <div class="lg:flex lg:flex-start block">
      <div class="lg:flex-2 lg:pr-4 mb-4 lg:mb-0" data-role="all-tables">
        <div class="mb-2 flex items-center">
          <p>{{t "home.all_tables"}}</p>
          <div class="ml-auto">
            <button data-role="create-table" type="button" {{on "click" this.createTable}}>
              {{t "home.create_table"}}
            </button>
          </div>
        </div>
        <table class="table-auto w-full" {{did-insert this.pollJobs}} {{will-destroy this.stopPolling}}>
          <thead>
            <tr>
              <th>{{t "home.columns.table_id"}}</th>
              <th>{{t "home.columns.population"}}</th>
              <th>{{t "home.columns.actions"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.displayedTableRows key="table.id" as |row|}}
              <tr data-table-id={{row.table.id}} data-table-version={{row.table.nonce}}>
                <td class="w-8/12">{{row.table.name}}</td>
                <td>{{row.population}}</td>
                <td>
                  {{#if row.busy}}
                    <i class="fa fa-times" />
                  {{else}}
                    {{#if row.joined}}
                      <LinkTo @route="tables.single-table" @model={{row.table.id}}>{{t "home.actions.view_table"}}</LinkTo>
                      <a href="#" {{on "click" (fn this.leaveTable row.table.id)}}>{{t "home.actions.leave_table"}}</a>
                    {{else}}
                      <a href="#" {{on "click" (fn this.joinTable row.table.id)}}>{{t "home.actions.join_table"}}</a>
                    {{/if}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="lg:flex-1 lg:pl-4" data-role="my-tables">
        <div class="mb-2 flex items-center">
        </div>
      </div>
    </div>
  </case.ok>
</CaseOf>
