<CaseOf @kind={{this.model}} as |case|>
  <case.ok as |model|>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>join</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.rows key="table.id" as |row|}}
          <tr>
            <td>{{row.table.id}}</td>
            <td>
              {{#if row.joined}}
                <LinkTo @route="tables.single-table" @model={{row.table.id}}>view</LinkTo>
                <a href="#" {{on "click" (fn this.leaveTable row.table)}}>leave</a>
              {{else}}
                <a href="#" {{on "click" (fn this.joinTable row.table)}}>join</a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </case.ok>
</CaseOf>
