<div
  data-table-id={{this.state.table.id}}
  data-table-version={{this.state.table.nonce}}
  class="flex items-start w-full"
  {{did-insert this.startPolling}}
  {{on-key "r" this.roll}}
>
  <div data-role="table-history" class="w-1/6 mr-4">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <td>Roll History</td>
        </tr>
      </thead>
      <tbody>
        {{#each this.state.table.rolls key="@index" as |roll|}}
          <tr>
            <td>{{get roll 0}} x {{get roll 1}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <CaseOf @kind={{this.state.playerPosition}} as |when|>
    <when.just as |seat|>
      <div data-role="player">
        <div data-role="player-position" class="w-full flex items-start">
          <table>
            <tbody>
              <tr>
                <td>balance</td>
                <td>{{seat.balance}}</td>
              </tr>
              <tr>
                <td>button</td>
                <td>{{this.state.table.button}}</td>
              </tr>
              <tr>
                <td>last roll</td>
                <td>{{inc (get (get this.state.table.rolls 0) 1) (get (get this.state.table.rolls 0) 0)}}</td>
              </tr>
              <tr>
                <td>version</td>
                <td><code>{{this.state.table.nonce}}</code></td>
              </tr>
              <tr>
                <td>roller</td>
                <td><code>{{this.state.table.roller}}</code></td>
              </tr>
            </tbody>
          </table>

          <table class="ml-4">
            <thead>
              <tr>
                <th>Bet Kind</th>
                <th>Wager</th>
                <th>Wins On</th>
              </tr>
            </thead>
            <tbody>
              {{#each seat.bets key="@index" as |bet|}}
                <tr>
                  <td>{{bet.kind}}</td>
                  <td>{{bet.amount}}</td>
                  <td>{{bet.target}}</td>
                </tr>
              {{else}}
                <tr>
                  <td colspan={{3}}>
                    No Bets
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div data-role="bet-controls" class="mt-5" data-wager={{this.wageer}}>
          <button class="mr-4" type="button" {{on "click" this.roll}}>Roll</button>

          <label>
            Wager
            <input
              for="wager"
              type="text"
              value={{this.wager}}
              {{on "input" this.setWager}}
              {{did-insert this.setWagerBox}}
            />
          </label>

          <button
            disabled={{or this.state.table.button (if this.wager false true)}}
            type="button"
            {{on "click" (fn this.bet "pass")}}
          >
            Pass
          </button>

          <button
            disabled={{or (not seat.hasPass) (not this.state.table.button) (if this.wager false true)}}
            type="button"
            {{on "click" (fn this.bet "pass-odds")}}
          >
            Pass Odds
          </button>

          <button
            disabled={{or (not this.state.table.button) (if this.wager false true)}}
            type="button"
            {{on "click" (fn this.bet "come")}}
          >
            Come
          </button>

          <BasicDropdown @disabled={{not seat.comeOddsOptions.length}} as |dropdown|>
            <dropdown.Trigger class="button">Come Odds</dropdown.Trigger>
            <dropdown.Content class="dropdown">
              {{#each seat.comeOddsOptions as |option|}}
              <div
                data-role="come-odds-option"
                class="dropdown-option"
                type="button"
                role="button"
                {{on "click" (queue dropdown.actions.close (fn this.comeOdds option))}}
              >
                  {{option}}
                </div>
              {{/each}}
            </dropdown.Content>
          </BasicDropdown>
        </div>
      </div>
    </when.just>
  </CaseOf>
</div>

