<div
  data-table-id={{this.state.table.id}}
  data-table-version={{this.state.table.nonce}}
  class="flex items-start w-full"
  {{did-insert this.startPolling}}
  {{on-key "r" this.roll}}
>
  <div data-role="table-history" class="w-1/6 mr-4">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <td colspan={{2}}>{{t "table_view.roll_history"}}</td>
          <td>{{t "table_view.roll_total"}}</td>
        </tr>
      </thead>
      <tbody>
        {{#each this.state.rollHistory key="@index" as |roll index|}}
          <tr class={{if (eq index 0) "bg-gray-100" "text-gray-400"}}>
            <td>
              <DiceIcon @roll={{roll.left}} class="text-xl" />
            </td>
            <td>
              <DiceIcon @roll={{roll.right}} class="text-xl" />
            </td>
            <td><b>{{roll.total}}</b></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <CaseOf @kind={{this.state.playerPosition}} as |when|>
    <when.just as |seat|>
      <div data-role="player">
        <div data-role="player-position" class="w-full flex items-start">
          <table>
            <tbody>
              <tr>
                <td>{{t "table_view.balance"}}</td>
                <td>{{seat.balance}}</td>
              </tr>
              <tr>
                <td>{{t "table_view.button"}}</td>
                <td>{{this.state.table.button}}</td>
              </tr>
              <tr>
                <td>{{t "table_view.version"}}</td>
                <td><code>{{this.state.table.nonce}}</code></td>
              </tr>
              <tr>
                <td>{{t "table_view.roller"}}</td>
                <td><code>{{this.state.table.roller}}</code></td>
              </tr>
            </tbody>
          </table>

          <table class="ml-4">
            <thead>
              <tr>
                <th>{{t "table_view.bet_kind"}}</th>
                <th>{{t "table_view.wager"}}</th>
                <th>{{t "table_view.wins_on"}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each seat.bets key="@index" as |bet|}}
                <tr>
                  <td>{{bet.kind}}</td>
                  <td>{{bet.amount}}</td>
                  <td>{{bet.target}}</td>
                </tr>
              {{else}}
                <tr>
                  <td colspan={{3}}>{{t "table_view.no_bets"}}</td>
                </tr>
              {{/each}}
            </tbody>

            <tbody>
              {{#each this.state.pendingBets key="id" as |pending|}}
                <tr data-role="pending-bet" data-job-id={{pending.id}}>
                  <td colspan={{3}}>{{t "table_view.pending"}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <BetControls
          @button={{this.state.table.button}}
          @busy={{this.state.busy}}
          @bets={{seat.bets}}
          @attempt={{this.bet}}
          class="mt-5 flex items-center flex-wrap space-x-4"
        />
      </div>
    </when.just>
  </CaseOf>
</div>

