<div
  data-table-id={{this.state.table.id}}
  data-table-version={{this.state.table.nonce}}
  class="flex items-start w-full"
  {{did-insert this.startPolling}}
  {{on-key "r" this.roll}}
>
  <div data-role="table-history" class="flex-1 mr-4">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <td colspan={{2}}>{{t "table_view.roll_history"}}</td>
          <td>{{t "table_view.roll_total"}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan={{2}}>{{t "table_view.button"}}</td>
          <td>{{this.state.table.button}}</td>
        </tr>
      </tbody>
      <tbody>
        {{#each this.state.rollHistory key="@index" as |roll index|}}
          <tr class={{if (eq index 0) "bg-gray-100" "text-gray-400"}}>
            <td>
              <DiceIcon @roll={{roll.left}} class="text-xl" />
            </td>
            <td>
              <DiceIcon @roll={{roll.right}} class="text-xl" />
            </td>
            <td><b>{{roll.total}}</b></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <CaseOf @kind={{this.state.playerPosition}} as |when|>
    <when.just as |seat|>
      <div data-role="player">
        <div data-role="player-position" class="w-full">
          <table class="w-full mb-4">
            <tbody>
              <tr>
                <td>{{t "table_view.balance"}}</td>
                <td colspan={{2}}>{{seat.balance}}</td>
              </tr>

              {{#each this.state.failedBets as |failure|}}
                <tr>
                  <td>{{t "table_view.failed_bet"}}</td>
                  <td>{{failure.reason}}</td>
                  <td class="text-center">
                    <button type="button" class="ml-auto warning" {{on "click" (fn this.dismissBet failure.id)}}>
                      <i class="fa-times fas" />
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>

          <BetList
            @bets={{seat.bets}}
            @pendingBets={{this.state.pendingBets}}
            class="ml-0 w-full"
          />
        </div>

        <div data-role="controls-and-actions" class="flex items-center mt-5">
          <div class="flex-1 mr-10">
            <button disabled={{or this.state.busy (is-just this.state.pendingRoll)}} type="button">
              {{if (is-just this.state.pendingRoll) (t "rolling") (t "roll")}}
            </button>
          </div>

          <BetControls
            @button={{this.state.table.button}}
            @busy={{or (is-just this.state.pendingRoll) this.state.busy}}
            @bets={{seat.bets}}
            @attempt={{this.bet}}
            class="flex items-center flex-wrap space-x-4 flex-8"
          />
        </div>
      </div>
    </when.just>
  </CaseOf>
</div>

