<div
  data-table-id={{this.state.table.id}}
  data-table-version={{this.state.table.nonce}}
  {{did-insert (action 'startPolling')}}
>
  <CaseOf @kind={{this.state.playerPosition}} as |when|>
    <when.just as |seat|>
      <div data-role="player-position" class="flex">
        <table>
          <tbody>
            <tr>
              <td>balance</td>
              <td>{{seat.balance}}</td>
            </tr>
            <tr>
              <td>button</td>
              <td>{{state.table.button}}</td>
            </tr>
          </tbody>
        </table>

        <table class="ml-4">
          <thead>
            <tr>
              <th>Bet Kind</th>
              <th>Wager</th>
              <th>Wins On</th>
            </tr>
          </thead>
          <tbody>
            {{#each seat.bets key="@index" as |bet|}}
              <tr>
                <td>{{bet.kind}}</td>
                <td>{{bet.amount}}</td>
                <td>unknown</td>
              </tr>
            {{else}}
              <tr>
                <td colspan=3>
                  No Bets
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </when.just>
  </CaseOf>

  <div data-role="bet-controls" class="mt-5" data-wager={{this.wageer}}>
    <label>
      Wager
      <input for="wager" type="text" value={{this.wager}} {{on "input" (fn this.setWager)}}/>
    </label>
    <button disabled={{if this.wager false true}} type="button" {{on "click" (fn this.bet "pass")}}>
      Pass
    </button>
    <button disabled={{if this.wager false true}} type="button" {{on "click" (fn this.bet "come")}}>
      Come
    </button>
    <button disabled={{if this.wager false true}} type="button" {{on "click" (fn this.bet "pass-odds")}}>
      Pass Odds
    </button>
    <button disabled={{if this.wager false true}} type="button" {{on "click" (fn this.bet "come-odds")}}>
      Come Odds
    </button>
  </div>
</div>

