<div
  data-table-id={{this.state.table.id}}
  data-table-version={{this.state.table.nonce}}
  class="flex items-start w-full"
  {{did-insert this.startPolling}}
  {{on-key "r" this.roll}}
>
  <div data-role="table-history" class="w-1/6 mr-4">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <td colspan={{2}}>Roll History</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        {{#each this.state.rollHistory key="@index" as |roll index|}}
          <tr class={{if (eq index 0) "bg-gray-100" "text-gray-400"}}>
            <td>{{roll.left}}</td>
            <td>{{roll.right}}</td>
            <td><b>{{roll.total}}</b></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <CaseOf @kind={{this.state.playerPosition}} as |when|>
    <when.just as |seat|>
      <div data-role="player">
        <div data-role="player-position" class="w-full flex items-start">
          <table>
            <tbody>
              <tr>
                <td>balance</td>
                <td>{{seat.balance}}</td>
              </tr>
              <tr>
                <td>button</td>
                <td>{{this.state.table.button}}</td>
              </tr>
              <tr>
                <td>version</td>
                <td><code>{{this.state.table.nonce}}</code></td>
              </tr>
              <tr>
                <td>roller</td>
                <td><code>{{this.state.table.roller}}</code></td>
              </tr>
            </tbody>
          </table>

          <table class="ml-4">
            <thead>
              <tr>
                <th>Bet Kind</th>
                <th>Wager</th>
                <th>Wins On</th>
              </tr>
            </thead>
            <tbody>
              {{#each seat.bets key="@index" as |bet|}}
                <tr>
                  <td>{{bet.kind}}</td>
                  <td>{{bet.amount}}</td>
                  <td>{{bet.target}}</td>
                </tr>
              {{else}}
                <tr>
                  <td colspan={{3}}>
                    No Bets
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div data-role="bet-controls" class="mt-5" data-wager={{this.wageer}}>
          <div class="flex items-center mb-4">
            <button class="mr-4" {{on "click" this.roll}}>
              Roll
            </button>

            <label class="flex-1 inline-block flex items-center">
              Wager
              <input
                for="wager"
                type="text"
                value={{this.wager}}
                class="w-full ml-2"
                {{on "input" this.setWager}}
                {{did-insert this.setWagerBox}}
              />
            </label>
          </div>

          <div class="flex items-center flex-wrap space-x-4">
            <button
              class="flex-1"
              disabled={{or this.state.table.button (if this.wager false true)}}
              type="button"
              {{on "click" (fn this.bet "pass")}}
            >
              Pass
            </button>

            <button
              class="flex-1"
              disabled={{or (not seat.hasPass) (not this.state.table.button) (if this.wager false true)}}
              type="button"
              {{on "click" (fn this.bet "pass-odds")}}
            >
              Pass Odds
            </button>

            <button
              class="flex-1"
              disabled={{or (not this.state.table.button) (if this.wager false true)}}
              type="button"
              {{on "click" (fn this.bet "come")}}
            >
              Come
            </button>

            <button
              class="flex-1"
              disabled={{not this.wager}}
              type="button"
              {{on "click" (fn this.bet "field")}}
            >
              Field
            </button>

            <HardwayDropdown
              @disabled={{or (not this.wager) (not this.state.table.button)}}
              @submit={{this.hardway}}
            />

            <PlaceDropdown
              @disabled={{or (not this.wager) (not this.state.table.button)}}
              @place={{this.place}}
            />

            <BasicDropdown @disabled={{not seat.comeOddsOptions.length}} as |dropdown|>
              <dropdown.Trigger class="button flex-1">Come Odds</dropdown.Trigger>
              <dropdown.Content class="dropdown">
                {{#each seat.comeOddsOptions as |option|}}
                  <div
                    data-role="come-odds-option"
                    class="dropdown-option"
                    type="button"
                    role="button"
                    {{on "click" (queue dropdown.actions.close (fn this.comeOdds option))}}
                  >
                    {{option}}
                  </div>
                {{/each}}
              </dropdown.Content>
            </BasicDropdown>
          </div>
        </div>
      </div>
    </when.just>
  </CaseOf>
</div>

